@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("icon/Hero-Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}
header.masthead h1{
    font-size: 50px;
    font-weight: bold;
}

header.masthead span{
    background-color: #FD6D6D;
}